@model Library.ViewModel.Inventory.Products.UomViewModel
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-xl-12">
        <div class="d-flex justify-content-end pb-1">
            <a href="/UOM" class="btn btn-bg" role="button">Back</a>
        </div>
        <hr />
    </div>
</div>

@using (Ajax.BeginForm("Create", "UOM", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "DialogForm" }))
{
    <div class="row ">
        <div class="col-xl-12">
            <div class="card ">
                <div class="card-header UOM_tittle">Add UOM</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, new { @class = "control-label   mendatory" })
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", type = "number" })
                                @Html.ValidationMessageFor(model => model.Code, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label   mendatory" })
                                @Html.TextBoxFor(model => model.Name, new { autofocus = "", @class = "form-control", placeholder = "UOM name" })
                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label  " })
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Write something ......" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Active, new { @class = "control-label  " })
                                <label>
                                    @Html.CheckBoxFor(model => model.Active)
                                </label>
                            </div>
                            <div class="row">
                                <div class="offset-xl-10 col-xl-2">
                                    <div class="form-group input-group">
                                        <button type="submit" class="btn btn-bg pull-right">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
