@model Library.ViewModel.Inventory.Customers.CustomerCategoryViewModel
@{
    ViewBag.Title = "Create";
}
<div class="row">
    <div class="col-xl-12">
        <a href="/APanel/CustomerCategory" class="btn btn-bg pull-right top-button-back" role="button">Back</a>
    </div>
</div>
@using (Ajax.BeginForm("Create", "CustomerCategory", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "DialogForm" }))
{
    <div class="row ">
        <div class="col-xl-12">
            <div class="card ">
                <div class="card-header Customer_tittle">Customer Category Information</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Code, new { @class = "control-label   mendatory" })
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", type = "number" })
                                @Html.ValidationMessageFor(model => model.Code, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label   mendatory" })
                                @Html.TextBoxFor(model => model.Name, new { autofocus = "", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DiscountRate, new { title = "Discount Rate", @class = "control-label   mendatory" })
                                @Html.TextBoxFor(model => model.DiscountRate, new { @class = "form-control", onclick = "this.select()" })
                                @Html.ValidationMessageFor(model => model.DiscountRate, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Description, new { @class = "control-label  " })
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Write something ......." })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Active, new { @class = "control-label  " })
                                @Html.CheckBoxFor(model => model.Active)

                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-group text-right">
                                        <div class="col-xl-12">
                                            <button type="submit" class="btn btn-bg btn_save">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
