@model Tuple<IEnumerable<Library.ViewModel.Inventory.Accounts.SupplierLedgerViewModel>, Library.ViewModel.Inventory.Suppliers.SupplierViewModel>
@using ERP.WebUI.Html
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-xl-12">
        <a href="/APanel" class="btn btn-bg pull-right top-button-back" role="button">Back</a>
        <h4 class="page-header">Supplier Ledger Information</h4>
    </div>
</div>
@using (Html.BeginForm("Index", "SupplierLedger", FormMethod.Get, new { id = "SearchForm" }))
{
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label   mendatory">Company</label>
                @Html.SimpleDropDown("companyId", "/APanel/Company/GetCompanyList/", new { @class = "form-control", data_val = "true", data_val_required = "Company is required" })
                @Html.ValidationMessage("companyId", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label   mendatory">Branch</label>
                @Html.CascadingDropDown("branchId", "/APanel/Branch/GetBranchList/", "companyId", new { @class = "form-control", data_val = "true", data_val_required = "Company is required" })
                @Html.ValidationMessage("branchId", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label  " title="Supplier name">Supplier</label>
                @Html.SimpleDropDown("supplierId", "/APanel/Supplier/GetSupplierList/", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label  ">Phone</label>
                @Html.TextBox("phone", null, new { autofocus = "", @class = "form-control", tabindex = "1" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label   " title="From date">From date</label>
                @Html.DatePicker("dateFrom", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label   ">To date</label>
                @Html.DatePicker("dateTo", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group ">
                <div class="submit-button">
                    <button type="submit" class="btn btn-bg">Show</button>
                    <input type="button" value="Clear" class="btn btn-warning" id="btnClear" />
                    @Html.ActionLink("Report", "RdlcReportSupplierLedger", "SupplierLedger", new { target = "_blank", id = "btnReport", @class = "btn btn-bg pull-middle" })
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label   " title="Supplier name">Supplier</label>
            @Html.TextBoxFor(model => model.Item2.Name, null, new { @class = "form-control", @readonly = "readonly" })

        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label   " title="Supplier address">Address</label>
            @Html.TextBoxFor(model => model.Item2.Address1, null, new { @class = "form-control", @readonly = "readonly" })

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead class="thead-heading">
                            <tr>
                                <th>Tracking NO</th>
                                <th>Invoice No</th>
                                <th>Receive No</th>
                                <th>Particulars</th>
                                <th>Date</th>
                                <th>Debit Amount</th>
                                <th>Credit Amount</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Item1 != null)
                            {
                                foreach (var item in Model.Item1)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TrackingNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvoiceNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MoneyReceiveNo)
                                        </td>
                                        <td class="td-width-sm">
                                            @Html.DisplayFor(modelItem => item.Particulars)
                                        </td>
                                        <td class="td-width">
                                            @Html.DisplayFor(modelItem => item.TransactionDate)
                                        </td>
                                        <td class="text-right">
                                            @Html.DisplayFor(modelItem => item.DebitAmount)
                                        </td>
                                        <td class="text-right">
                                            @Html.DisplayFor(modelItem => item.CreditAmount)
                                        </td>
                                        <td class="text-right">
                                            @Html.DisplayFor(modelItem => item.RunningBalance)
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#dataTables-example").DataTable().order([0, "asc"]).draw();
            var dateFrom = getUrlVars()["dateFrom"];
            $("#dateFrom").val(dateFrom);
            var dateTo = getUrlVars()["dateTo"];
            $("#dateTo").val(dateTo);
        });

        $("#SearchForm").on("submit", function () {
            if ($("#companyId").val() == "") {
                ShowResult("Please select a company.", "failure");
                return false;
            }
            if ($("#branchId").val() == "") {
                ShowResult("Please select a branch.", "failure");
                return false;
            }
        });

        $("#btnReport").click(function () {
            var companyId = $('#companyId').val();
            var branchId = $('#branchId').val();
            var dateFrom = $('#dateFrom').val();
            var dateTo = $('#dateTo').val();
            var phone = $('#phone').val();
            var supplierId = $('#supplierId').val();
            this.href = this.href.split('?')[0] + '?phone=' + phone
                + '&companyId=' + companyId
                + '&branchId=' + branchId
                + '&dateFrom=' + dateFrom
                + '&dateTo=' + dateTo
                + '&supplierId=' + supplierId;
        });

        $("#btnClear").on("click", function () {
            $("#phone").val('').trigger("change");
            $("#supplierId").val('').trigger("change");
        });

    </script>
}
