@model IEnumerable<Library.ViewModel.Inventory.Products.ProductViewModel>
@using ERP.WebUI.Html
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <div class="top-button">
            
            <a href="/APanel/MobileShopProduct/Create" class="btn btn-bg" role="button">Add New</a>
            <a href="/APanel" class="btn btn-bg pull-right" role="button">Back</a>
        </div>
        <hr />
    </div>
</div>


@using (Html.BeginForm("Index", "MobileShopProduct", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label   ">Category</label>
                @Html.SimpleDropDown("ProductCategoryId", "/APanel/ProductCategory/GetProductCategoryList/", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label   ">Sub Category</label>
                @Html.CascadingDropDown("ProductSubCategoryId", "/APanel/ProductSubCategory/GetProductSubCategoryList?ProductCategoryId=", "ProductCategoryId", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-md-4">

            <div class="form-group ">
                <div class=" submit-button">
                    <button type="submit" class="btn btn-bg">Show</button>
                    @Html.ActionLink("Report", "RdlcReportProductList", "MobileShopProduct", new { target = "_blank", id = "btnReport", @class = "btn btn-bg pull-middle" })
                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default card">
            <div class="card-header ProductSubsidiaryCategor_tittle">Product Information</div>
            <div class="panel-body card-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead class="thead-heading">
                            <tr>
                                <th>Sequence</th>
                                <th>Model No.</th>
                                <th>Product Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var Product in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelProduct => Product.Sequence)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelProduct => Product.Code)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelProduct => Product.Name)
                                        </td>
                                        <td>
                                            @Html.ActionLink(" ", "Edit", new { id = Product.Id }, new { @class = "btn-sm btn-bg glyphicon glyphicon-edit" })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#btnReport").click(function () {
            var ProductCategoryId = $('#ProductCategoryId').val();
            var ProductSubCategoryId = $('#ProductSubCategoryId').val();
            this.href = this.href.split('?')[0] + '?ProductCategoryId=' + ProductCategoryId
                + '&ProductSubCategoryId=' + ProductSubCategoryId;
        });
    </script>
}

