@model ERP.WebUI.Models.ProductStockDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductStockDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BranchID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BranchID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransactionTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransactionTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UOMID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UOMID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatePc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatePc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatePc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatePc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeleteOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeleteOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeletePc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeletePc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
