@model IEnumerable<Library.ViewModel.Inventory.Expenditures.ExpenditureViewModel>
@using ERP.WebUI.Html
@{
    ViewBag.Title = "Index";
}
    @*<div class="row">
        <div class="col-xl-12">
            <div class="d-flex justify-content-between pb-1">
                <a href="/APanel/Expenditure/Create" class="btn btn-bg" role="button">Add New</a>
                <a href="" class="btn btn-bg top-button-back float-right" role="button">Back</a>
            </div>
            <hr />
        </div>
    </div>*@

@using (Html.BeginForm("Index", "Expenditure", FormMethod.Get))
{
<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label ">Company Name</label>
            @Html.SimpleDropDown("companyId", "/APanel/Company/GetCompanyList/", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label   ">Branch Name</label>
            @Html.CascadingDropDown("branchId", "/APanel/Branch/GetBranchList/", "companyId", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Category Name</label>
            @Html.SimpleDropDown("expenditureCategoryId", "/APanel/ExpenditureCategory/GetExpenditureCategoryList/", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">From date</label>
            @Html.DatePicker("dateFrom", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label   ">To date</label>
            @Html.DatePicker("dateTo", new { @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group pull-right">
            <div class="submit-button">
                <button type="submit" class="btn btn-bg">Show</button>
                <input type="button" value="Clear" class="btn btn-warning" id="btnClear" />
                @Html.ActionLink("Report", "ExpenditureList", "Expenditure", new { area = "APanel" }, new { target = "_blank", id = "btnReport", @class = "btn btn-bg pull-middle" })
            </div>
        </div>
    </div>
</div>   
}
<div class="row">
    <div class="col-xl-12">
        <div class="panel panel-default card">
            @*<div class="card-header Expenditure_tittle">Expenditure Information</div>*@
            <div class="card-header Warehouse_tittle alert-info">
                <a href="/APanel/Expenditure/Create" class="btn btn-bg btn-sm" role="button"><i class="fa fa-plus-circle"></i> Add New </a> Expenditure Information
                <a href="/APanel" class="btn btn-bg top-button-back float-right btn-sm" role="button"><i class="fa fa-undo"></i> Back</a>
            </div>
            <div class="panel-body card-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead class="thead-heading">
                            <tr>
                                <th>Sequence</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Description </th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sequence)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpenseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ExpenseAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comment)
                                </td>
                                <td>
                                    @Html.YesNoFor(modelItem => item.Active)
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn-sm btn-bg fa fa-edit" })
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            var dateFrom = getUrlVars()["dateFrom"];
            $("#dateFrom").val(dateFrom);
            var dateTo = getUrlVars()["dateTo"];
            $("#dateTo").val(dateTo);
        });

        $("#btnReport").click(function () {
            var companyId = $('#companyId').val();
            var branchId = $('#branchId').val();
            var expenditureCategoryId = $('#expenditureCategoryId').val();
            var dateFrom = $('#dateFrom').val();
            var dateTo = $('#dateTo').val();
            this.href = this.href.split('?')[0] + '?companyId=' + companyId
                + '&branchId=' + branchId
                + '&expenditureCategoryId=' + expenditureCategoryId
                + '&dateFrom=' + dateFrom
                + '&dateTo=' + dateTo;
        });

        $("#btnClear").on("click", function () {
            $("#companyId").val('').trigger("change");
            $("#branchId").val('').trigger("change");
            $("#expenditureCategoryId").val('').trigger("change");
            $("#dateFrom").val('').trigger("change");
            $("#dateTo").val('').trigger("change");
        });
    </script>
}
