
@using System.Data
@model DataSet
@{ var data = Model.Tables["Sale"].AsEnumerable(); }

@{
    ViewBag.Title = "HtmlReportPrint";
}

<div class="row">
    <div class="col-3">
        @foreach (DataRow invoice in Model.Tables["Sale"].Rows)
        {
            <a class="link btn-sm btn-secondary pull-right" onclick="document.title='@invoice["Id"]'; printDiv('printableArea')">Print PDF</a>
        }
        <div class="row" id="printableArea">
            <div class="col-12">
                <div class="bg_color">
                    <div class="row mt-4 mb-3">
                        <div class="col-2">
                            <img src="~/Content/images/t-mart-logo-60x50.jpg" class="img_padd" style="padding: 17px 10px; width: 80px; height: 80px;" />
                        </div>
                        <div class="col-10">
                            @foreach (DataRow company in Model.Tables["Sale2"].Rows)
                            {
                                <div class="text-center">
                                    <h5 class="font-weight-bold">@company["Name"]</h5>
                                    <h5 class="font-weight-bold">@company["Phone1"]</h5>
                                    <p class="title_size">@company["Address1"]</p>
                                </div>
                            }
                        </div>
                    </div>
                    <table class="table table-sm">
                        <tbody>
                            @foreach (DataRow Product in Model.Tables["Sale"].Rows)
                            {
                                <tr>
                                    <th style="width:140px">Invoice</th>
                                    <th><span class="pr-3">:</span> @Product["Id"]</th>
                                </tr>
                                <tr>
                                    <th style="width:140px">Date</th>
                                    <th><span class="pr-3">:</span> @Product["SaleDate"]</th>
                                </tr>
                                <tr>
                                    <th style="width:140px">P. Type</th>
                                    <th><span class="pr-3">:</span> @Product["PaymentType"]</th>
                                </tr>
                                <tr>
                                    <th style="width:140px">Member</th>
                                    <th><span class="pr-3">:</span> @Product["CustomerMobileNumber"]</th>
                                </tr>
                                <tr>
                                    <th style="width:140px">Member Points</th>
                                    <th><span class="pr-3">:</span>@String.Format("{0:0}", Product["CustomerPoint"])</th>
                                </tr>
                                <tr>
                                    <th style="width:140px">Sales By</th>
                                    <th><span class="pr-3">:</span> @Product["AddedBy"]</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Products</th>
                                <th class="text-center">Qty</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Dis</th>
                                <th class="text-center">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow Product in Model.Tables["Sale1"].Rows)
                            {
                                <tr>
                                    <td>@Product["ProductName"]</td>
                                    <td class="text-right"> @Product["Quantity"] </td>
                                    <td class="text-right"> @String.Format("{0:0.00}", Product["SalePrice"])</td>
                                    <td class="text-right"> @String.Format("{0:0.00}", Product["DiscountAmount"]) </td>
                                    <td class="text-right"> @String.Format("{0:0.00}", Product["TotalAmount"])</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <table class="table table-sm">
                        <tbody>
                            @foreach (DataRow Product in Model.Tables["Sale"].Rows)
                            {
                                <tr>
                                    <th style="width:140px">Sub Total</th>
                                    <th>:</th>
                                    <th class="text-right"> @String.Format("{0:0.00}", Product["TotalAmount"])</th>
                                </tr>
                                <tr>
                                    <th>Total VAT</th>
                                    <th>:</th>
                                    <th class="text-right"> @Product["TotalVat"]</th>
                                </tr>
                                <tr>
                                    <th>C. Discount</th>
                                    <th>:</th>
                                    <th class="text-right"> @Product["DiscountAmount"]</th>
                                </tr>
                                <tr>
                                    <th>P.Discount</th>
                                    <th>:</th>
                                    <th class="text-right"> @Product["DiscountAmount"]</th>
                                </tr>
                                <tr>
                                    <th>O.Discount</th>
                                    <th>:</th>
                                    <th class="text-right"> @Product["DiscountAmount"]</th>
                                </tr>
                                <tr>
                                    <th>Total Discount</th>
                                    <th>:</th>
                                    <th class="text-right"> @Product["DiscountAmount"]</th>
                                </tr>
                                <tr>
                                    <th>Net Amount</th>
                                    <th>:</th>
                                    <th class="text-right"> @String.Format("{0:0}", Product["NetAmount"])</th>
                                </tr>
                                <tr>
                                    <th>Paid Amount</th>
                                    <th>:</th>
                                    <th class="text-right"> @String.Format("{0:0}", Product["PaidAmount"])</th>
                                </tr>
                                <tr>
                                    <th>Change Amount</th>
                                    <th>:</th>
                                    <th class="text-right"> @String.Format("{0:0}", Product["ChangeAmount"])</th>
                                </tr>
                                <tr>
                                    <th>Due Amount</th>
                                    <th>:</th>
                                    <th class="text-right"> @Product["DueAmount"]</th>
                                </tr>
                                <tr>
                                    <th>Expense Point</th>
                                    <th>:</th>
                                    <th class="text-right"> @Product["ExpensePoint"]</th>
                                </tr>
                                <tr>
                                    <th>Point Amount</th>
                                    <th>:</th>
                                    <th class="text-right"> @Product["ExpensePoint"]</th>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-12">
                            <p class="pl-2 font-weight-bold">Thank You For Shopping. Come Again!!! </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    </script>
}
