@model Library.ViewModel.Inventory.Products.ProductSubsidiaryCategoryViewModel
@using ERP.WebUI.Html
@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-xl-12">
        <a href="/ProductSubsidiaryCategory" class="btn btn-bg pull-right top-button-back" role="button">Back</a>
        <h4 class="page-header">Add Item SubsidiaryCategory</h4>
    </div>
</div>
@using (Ajax.BeginForm("Create", "ProductSubsidiaryCategory", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "DialogForm" }))
{          
<div class="row ">
    <div class="col-xl-12">
        <div class="card ">
            <div class="card-header Bank_tittle">Update Item Subsidiary Category</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Code, new { @class = "control-label   mendatory" })
                            @Html.TextBoxFor(model => model.Code, new { @class = "form-control", type = "number" })
                            @Html.ValidationMessageFor(model => model.Code, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Active, new { @class = "control-label  " })
                            <label>
                                @Html.CheckBoxFor(model => model.Active)
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label   mendatory" })
                            @Html.TextBoxFor(model => model.Name, new { autofocus = "", @class = "form-control", placeholder = "Subsidiarycategory name" })
                            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label class="control-label   mendatory" title="Item Category">Category</label>
                            @Html.SimpleDropDownFor(model => model.ProductCategoryId, "/ProductCategory/GetProductCategoryList/", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductCategoryId, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label   mendatory" title="Item SubCategory">SubCategory</label>
                            @Html.CascadingDropDownFor(model => model.ProductSubCategoryId, "/ProductSubCategory/GetProductSubCategoryList?ProductCategoryId=", "ProductCategoryId", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ProductSubCategoryId, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label  " })
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", placeholder = "Write something ......" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-group text-right">
                            <div class="col-xl-12">
                                <button type="submit" class="btn btn-bg btn_save">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
                }
                @section Scripts {@Scripts.Render("~/bundles/jqueryval")
                <script type="text/javascript">

                    $(function () {

                    });

                </script>
                }

