
@model Library.ViewModel.Core.Securities.MenuViewModel
@{
    ViewBag.Title = "Edit";
}
<div class="row">
    <div class="col-xl-12">
        <a href="/CPanel/Menu" class="btn btn-primary pull-right top-button-back" role="button">Back</a>
        <h4 class="page-header">Update Menu Information</h4>
    </div>
</div>
@using (Ajax.BeginForm("Edit", "Menu", null, new AjaxOptions { HttpMethod = "POST" }, new { id = "DialogForm" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label  " })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description, new { @class = "control-label  " })
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Active, new { @class = "control-label  " })
                <label>
                    @Html.CheckBoxFor(model => model.Active)
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="form-group text-right">
                <div class="col-xl-12">
                    <button type="submit" class="btn btn_save">Save</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {

        });
    </script>
}